<%- include("header") -%>

<div class="box" id="heading">
  <div class="list-name">
    <h1><%= listTitle %></h1>
    <% if (!(listTitle === "Main")) { %>     
      <form class="delete-list-form" action="/deleteList" method="POST">
        <input type="hidden" name="listName" value="<%= listTitle %>">
        <button class="delete-list-button" type="submit">Delete List</button>
      </form>
    <% } %>
  </div>
  <h1> <%= date %> </h1>
</div>

<div class="box todolist">
  <% newListItems.forEach(item => {  %>
    <form action="/delete" method="POST">
      <div class="item">
        <input type="checkbox" onchange="this.form.submit()" name="deleteItem" value="<%= item._id %>"> 
        <p><%= item.name %></p>
        <input type="hidden" name="listName" value="<%= listTitle %>">
      </div>
    </form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<div class="box lists">
  <h2>Available Lists:</h2>
  <ul>
    <li><a href="/">Main</a></li>
    <% allLists.forEach(list => { %>
      <li><a href="/<%= list.name %>"><%= list.name %></a></li>
    <% }); %>
    <form id="new-list-form" action="/" method="post">
      <input type="text" name="newListName" placeholder="Enter new list name" autocomplete="off">
      <button type="submit">+</button>
    </form>
  </ul>
</div>

<div class="box">
    <h2>ChatGPT</h2>
      <form id="openaiForm" action="/openai/chatgpt" method="post">
        <textarea type="text" name="prompt" placeholder="Enter your prompt." autocomplete="off" rows="4" cols="46"></textarea>
        <button type="submit" class="btn" name="listName" value="<%= listTitle %>">Send the message.</button>
      </form>
    </div>
</div>

<%- include("footer") -%>
